{
    "prefix": "!",
    "databaseUri": "postgresql://postgres:postgres@localhost:5432/postgres",
    "sentryDsn": "",
    "discord": {
        "token": "",
        "owners": [

        ]
    },
    "telegram": {
        "token": "",
        "owners": [

        ]
    },
    "slack": {
        "rtm_token": "",
        "web_token": "",
        "owners": [

        ]
    },
    "irc": {
        "url": "",
        "nick": "",
        "channels": [

        ],
        "owners": [

        ]
    }
}